@using Microsoft.Extensions.Localization
@using WRO.Web.Models.Register

@model RegisterJudgeModel
@inject IStringLocalizer<Lang> Localizer

@{
    ViewData["Title"] = Localizer["register"];
}

<style>
    .form-group {
        margin-top: 1rem;
    }
</style>

<h1>@Localizer["register"]</h1>

<h4>@Localizer["judge"]</h4>
<hr />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-action="Judge" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber" class="control-label"></label>
                <input asp-for="IdentityNumber" class="form-control text-uppercase"/>
                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSerialNumber" class="control-label"></label>
                <input asp-for="IdSerialNumber" class="form-control text-uppercase" />
                <span asp-validation-for="IdSerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profession" class="control-label"></label>
                <input asp-for="Profession" class="form-control" />
                <span asp-validation-for="Profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankRekvizit" class="control-label"></label>
                <input asp-for="BankRekvizit" class="form-control" />
                <span asp-validation-for="BankRekvizit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WroExperience" class="control-label"></label>
                <input asp-for="WroExperience" class="form-control" />
                <span asp-validation-for="WroExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartupExperience" class="control-label"></label>
                <input asp-for="StartupExperience" class="form-control" />
                <span asp-validation-for="StartupExperience" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin: 1rem 0">
                <label asp-for="ContestCategoryId" class="control-label"></label>
                @await Component.InvokeAsync("SelectContestCategory")
            </div>
            <div class="form-group">
                <label asp-for="IdentityCardImageForm" class="control-label"></label>
                <input asp-for="IdentityCardImageForm" accept="image/*" class="form-control" />
                <span asp-validation-for="IdentityCardImageForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["submit"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />